    <!-- breadcrumb part start-->
    <section class="breadcrumb_part single_product_breadcrumb">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb part end-->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="product_img_slide">
       
            <img src="assets/img/lb/8.jpg" alt="#" class="img-fluid center">
      
         
        </div>
      </div>
      <div class="col-lg-8">
        <div class="single_product_text text-center">
          <h3>Mask</h3>
          <h4>
            MASK	PROTECTIVE CLOTH MASKS MADE IN TRADITIONAL MATERIAL
          </h4>
          <div class="card_area">
            <p>Quantity</p>
              <div class="product_count_area">
                 
                  <div class="product_count d-inline-block">
                      <span class="product_count_item inumber-decrement"> <i class="ti-minus"></i></span>
                      <input class="product_count_item input-number" type="text" value="1" min="0" max="10">
                      <span class="product_count_item number-increment"> <i class="ti-plus"></i></span>
                  </div>
                 
              </div>
              
              <h1>$5</h1>
            <div class="add_to_cart">
                <a href="#" class="btn_3">add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->
